@font-face {
    font-family: 'Roboto';
    src: url('../fontes/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Staatliches';
    src: url('../fontes/Staatliches-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: #F5F5F5;
}

#topo {
    background-color: #0D1B2A;
    height: 330px;
    padding: 1rem;
    border-bottom: 1px solid #415A77;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
}

#topo .logo-site {
    grid-column: 1/2;
    grid-row: 1/3;
}

.logo-site {
    background-image: url(../imagens/logo1.png);
    width: 462px;
    height: 314px;
    background-repeat: no-repeat;
    text-indent: -10000000000000px;
}

#menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#menu a {
    color: #E0E1DD;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#menu li:hover {
    border-bottom: 5px solid #E0E1DD;
    transition: .3s;
}

main {
    border-bottom: 1px solid #415A77;
}

#banner {
    height: 723px;
    border-bottom: 1px solid #415A77;
    margin-top: 40px;
}

#banner img {
    height: 100%;
    width: 100%;
}

#exemplos {
    background-color: #1B263B;
    height: 788px;
    padding: 1rem;
}

.titulos {
    display: flex;
}

.cinza {
    font-family: 'Staatliches', cursive;
    color: #E0E1DD;
    font-size: 40px;
    border: 2px solid #778DA9;
    padding: 2px;
    width: 926px;
    height: 159px;
    text-align: center;
    padding-top: 30px;
    border-radius: 30px;
    background-color: #778DA9;
    text-shadow: 2px 2px 8px black;
}

.azul {
    font-family: 'Staatliches', cursive;
    color: #0D1B2A;
    border: 2px solid #778DA9;
    font-size: 50px;
    padding: 2px;
    width: 434px;
    height: 159px;
    margin-left: 20px;
    text-align: center;
    padding-top: 10px;
    border-radius: 30px;
    background-color: #E0E1DD;
    text-shadow: 1px 1px 2px black;
}

.container {
    display: flex;
}

#exemplos #artigo {
    width: 500px;
    height: 550px;
    border: 2px solid #E0E1DD;
    background-color: #E0E1DD;
    border-radius: 30px;
    margin-top: 40px;
}

#exemplos #artigo .tituloartigo {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    color: #0D1B2A;
    text-transform: uppercase;
    padding-top: 20px;
    text-shadow: 1px 1px 1px black;
}

article p {
    margin-top: 20px;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 1.8rem;
    color: #0D1B2A;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

.imagens {
    width: 500px;
    height: 520px;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 40px;
}

.imagens img {
    width: 414px;
    height: 535px;
    border-radius: 20px;
}

#rodape {
    margin-top: 40px;
    background-color: #454544;
    height: 418px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-site2 {
    background-image: url(../imagens/logo2.png);
    width: 462px;
    height: 314px;
    background-repeat: no-repeat;
    text-indent: -10000000000000px;
}

.redes-sociais {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.direitos {
    background-color: #454544;
    text-align: center;
    color: #E0E1DD;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}